// COLORS
// @include cl(black);
//--------------------------------------------------

$colors: (
	white: #fff,
	black: #000,
	text: #333333,
	grey: #6e6e6e,
	lightgrey: #f2f2f2,
	red: #ff0000,
	primary: #4d0000,
	gold: #b8860bea,
	beige: #ffffdd,
);

@function cl($key) {
	@return map-get($colors, $key);
}

// FONT
// @include TimesNewRoman;
//--------------------------------------------------

@mixin TimesNewRoman {
	font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
}

// RESPONSIVE
// @include overTab
//--------------------------------------------------

@mixin overTab {
	@media print, screen and (max-width: 480px) {
		@content;
	}
}

// UTILITY
//--------------------------------------------------

._sp {
	display: none;
	@include overTab {
	}
}

._pc {
	display: block;
	@include overTab {
		display: none;
	}
}
