html,
body {
	height: 100%;
	.border {
		border: solid 1px lightgray;
	}
	.space {
		padding: 10px 0;
		background-color: #f9f9f9;
	}
	.actions {
		padding-top: 5px;
		padding-bottom: 20px;
	}

	.regi-new {
		height: 100%; /* 親要素に対する％ */
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #f9f9f9;

		.inner {
			width: 350px;
			background-color: white;

			.title {
				padding-bottom: 15px;
				text-align: center;

				h1 {
					display: inline-block;
					font-size: 40px;
					width: 175px;
					height: 50px;
					margin: 22px auto 12px;
				}
				h2 {
					padding: 0 40px;
					color: #8e8e8e;
					font-size: 17px;
					font-weight: 600;
				}
			}
			.form {
				padding: 0 40px;

				.field {
					height: 45px;
					input[type="email"],
					input[type="text"],
					input[type="password"] {
						border-style: none;
						box-sizing: border-box;
						width: 100%;
						height: 35px;
						padding: 8px, 0, 7px, 8px;
						border: solid 1px lightgray;
						border-radius: 3px;
						padding: 9px 0 7px 8px;
						background-color: #f9f9f9;
						:focus {
							background-color: #f9f9f9;
						}
					}
					.btn-login-conteiner {
						height: 45px;
						.btn {
							margin-top: 5px;
							cursor: pointer;
							justify-content: space-between;
							align-items: center;
							padding: 5px 0;
							color: #fff;
							text-align: center;
							font-weight: 700;
							border-radius: 4px;
							border: none;
							width: 100%;
							background-color: rgba(0, 149, 246, 0.3);
						}
						.btn:hover {
							background-color: #0095f6;
						}
					}
				}
			}
			.or {
				padding: 15px 0;
				.title-border {
					display: flex;
					align-items: center;
					padding: 0 40px;
					color: #8e8e8e;
					p {
						font-size: 13px;
						font-weight: 600;
					}
				}
				.title-border:before,
				.title-border:after {
					border-top: 1px solid;
					content: "";
					flex-grow: 1;
					background-color: rgba(var(--b38, 219, 219, 219), 1);
				}
				.title-border:before {
					margin-right: 1rem;
				}
				.title-border:after {
					margin-left: 1rem;
				}
			}
			.facebook {
				margin: 0 auto;
				cursor: pointer;
				justify-content: space-between;
				align-items: center;
				padding: 5px 0;
				color: #fff;
				text-align: center;
				font-weight: 700;
				border-radius: 4px;
				border: none;
				width: 80%;
				background-color: #0095f6;
				span {
					margin-right: 10px;
				}
				p {
					font-size: 14px;
					font-weight: 700;
				}
			}
			.pass {
				color: #00376b;
				font-size: 12px;
				font-weight: 200;

				text-align: center;
				padding-bottom: 20px;
			}
			.signin {
				height: 45px;
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 10px 0;
				p {
					font-size: 14px;
				}
			}
			.devise {
				display: none;
			}
		}
	}
}
