body {
	background-color: white;

	@include overTab {
		background-color: black;
		color: white;
	}

	h1 {
		font-family: "Carattere", cursive;
	}

	.flash {
		// background-color: lightgrey;
		text-align: center;
		padding: 5px 0;
	}
}
