.header {
	.inner {
		display: flex;
		padding: 10px 20px;
		.title {
			font-size: 20px;
			width: 200px;
			h1 {
			}
			@include overTab {
				color: white;
			}
		}
		.menu {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-left: auto;
			@include overTab {
				// display: none;
			}
			li {
				padding-right: 30px;
				@include overTab {
					padding-right: 15px;
				}
			}
			.icon {
				font-size: 30px;
			}
			.pull-menu {
				.user-icon {
					display: flex;
					z-index: 100;
					@include overTab {
						display: none;
						padding: 0;
					}
				}
				#menu-btn-check:checked ~ .pull-menu-list {
					right: 20px; /*メニューを画面内へ*/
					left: auto;
				}
				#menu-btn-check {
					display: none;
				}
				.pull-menu-list {
					font-size: 14px;
					width: 15%;
					height: 20%;
					position: fixed;
					top: 90px;
					left: 100%;
					z-index: 80;
					background-color: white;
					border-radius: 5px;
					box-shadow: 0 0 8px lightgray;
					transition: all 0s;
					@include overTab {
						position: static;
						padding: 0;
						left: 0;
						width: auto;
					}
					#menu-btn-check:checked ~ .pull-menu-list {
						// left: 0; /*メニューを画面内へ*/
					}
					li {
						:hover {
							opacity: 0.5;
						}
						@include overTab {
							// border: none;
						}
					}
					ul,
					li,
					a {
						display: block;
						width: 100%;
						box-sizing: border-box;
						// color: #ffffff;
						text-decoration: none;
						padding: 3px 0;
						// position: relative;
						z-index: 70;
						@include overTab {
							color: white;
							padding: 5px 20px 0 0;
							box-sizing: content-box;
							width: auto;
						}
					}
					span {
						padding: 0 10px;
					}
				}
				.logout {
					border-top: solid 1px lightgrey;
					padding: 3px 0 0 10px;
				}
			}
		}
	}
}
